body {
  background: 
    url('pinggir.png') left repeat-y,
    url('pinggir2.png') right repeat-y,
    linear-gradient(#ffe8f3, #f7b1d3);
  background-attachment: scroll, scroll, scroll;
  background-size: 150px auto, 150px auto, auto;
  background-position: left, right, center;
  padding: 0px;
  font-family: 'Comfortaa', cursive;
  color: #333;
  margin: 0;
  position: relative;
  min-height: 100vh;
}


.hero-container {
  padding: 30px;
  background-color: #fcc4d5;
  outline: 2px solid #832a77;
  outline-offset: -5px; /* menggeser outline ke dalam */
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 800px;
  text-align: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

h1, h2 {
  text-align: center;
  color: #5a2a83;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: auto;
  text-align: center;
}

.input-ordo {
  text-align: center;
  margin-bottom: 20px;
}

.input-ordo label {
  margin: 0 10px;
  font-weight: 600;
}

.input-ordo input {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  padding: 7px 15px;
  font-size: 16px;
  background-color: #5a2a83;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 20px;
}

button:hover {
  background-color: #7b46b1;
}

.matrices-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
  flex-wrap: wrap;
}


.matrix-container {
  text-align: center;
}

.matrix {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.matrix input[type="number"] {
  width: 50px;
  padding: 7px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid #5a2a83;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.buttons-container button {
  padding: 10px 20px;
  font-size: 17px;
  margin: 10px 15px;
  background-color: #5a2a83;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:active {
  transform: scale(0.95);
}

.buttons-container button:hover {
  background-color: #7b46b1;
}

.credit {
  position: fixed;
  bottom: 5px;
  left: 10px;
  font-size: 13px;
  font-style: italic;
  color: #310672; 
  opacity: 0.7;
  z-index: 1000;
}
